<a href="https://colab.research.google.com/github/As2909/Afame-Technologies/blob/main/Hr_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd
 import numpy as np

In [ ]:
# convert csv file as Dataframe
hr_df = pd.read_csv("/content/HR Data.csv")

In [ ]:
# First 5 rows
hr_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
hr_df.tail()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [ ]:
# Total Number of rows and columns
hr_df.shape

(1470, 35)

In [ ]:
hr_df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

1. Eliminate the NaN values

In [ ]:
# calcualte the total no. of null values in every columns
hr_df.isnull().sum()

# There is zero null values

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

2. Drop the unnecessay Columns

In [ ]:
# remove the unnecessary columns
columns_to_drop = ["DailyRate", "BusinessTravel", "DistanceFromHome","EmployeeCount",
                   "EnvironmentSatisfaction", "HourlyRate", "JobSatisfaction",
                   "Over18"]
# Create new Dataframe to store the cleaned dataframe
hr_df_cleaned = hr_df.drop(columns_to_drop,axis=1)

3. Giving the columns new names

In [ ]:
new_columns_names = {
    "Department": "Dept",
    "Education": "EduLevel",
    "EmployeeNumber": "EmployeeId",
    "MaritalStatus": "Marital",
    "MonthlyIncome": "Income"
}

hr_df_cleaned = hr_df_cleaned.rename(columns=new_columns_names, )

4. Eliminating Redundant columns

In [ ]:
hr_df_cleaned.columns

Index(['Age', 'Attrition', 'Dept', 'Edu', 'EducationField', 'EmployeeId',
       'Gender', 'JobInvolvement', 'JobLevel', 'JobRole', 'Marital', 'Income',
       'MonthlyRate', 'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [ ]:
hr_df_cleaned.head()

,Age,Attrition,Dept,Edu,EducationField,EmployeeId,Gender,JobInvolvement,JobLevel,JobRole,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Sales,2,Life Sciences,1,Female,3,2,Sales Executive,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Research & Development,1,Life Sciences,2,Male,2,2,Research Scientist,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Research & Development,2,Other,4,Male,2,1,Laboratory Technician,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Research & Development,4,Life Sciences,5,Female,3,1,Research Scientist,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Research & Development,1,Medical,7,Male,3,1,Laboratory Technician,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
hr_df_cleaned.drop_duplicates()

,Age,Attrition,Dept,Edu,EducationField,EmployeeId,Gender,JobInvolvement,JobLevel,JobRole,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Sales,2,Life Sciences,1,Female,3,2,Sales Executive,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Research & Development,1,Life Sciences,2,Male,2,2,Research Scientist,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Research & Development,2,Other,4,Male,2,1,Laboratory Technician,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Research & Development,4,Life Sciences,5,Female,3,1,Research Scientist,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Research & Development,1,Medical,7,Male,3,1,Laboratory Technician,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Research & Development,2,Medical,2061,Male,4,2,Laboratory Technician,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Research & Development,1,Medical,2062,Male,2,3,Healthcare Representative,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Research & Development,3,Life Sciences,2064,Male,4,2,Manufacturing Director,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Sales,3,Medical,2065,Male,2,2,Sales Executive,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Research & Development,3,Medical,2068,Male,4,2,Laboratory Technician,...,1,80,0,6,3,4,4,3,1,2

5. Sanitizing the specific Columns

In [ ]:
hr_df_cleaned.dtypes

Age                          int64
Attrition                   object
Dept                        object
Edu                          int64
EducationField              object
EmployeeId                   int64
Gender                      object
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
Marital                     object
Income                       int64
MonthlyRate                  int64
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [ ]:
hr_df_cleaned.head()

,Age,Attrition,Dept,Edu,EducationField,EmployeeId,Gender,JobInvolvement,JobLevel,JobRole,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Sales,2,Life Sciences,1,Female,3,2,Sales Executive,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Research & Development,1,Life Sciences,2,Male,2,2,Research Scientist,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Research & Development,2,Other,4,Male,2,1,Laboratory Technician,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Research & Development,4,Life Sciences,5,Female,3,1,Research Scientist,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Research & Development,1,Medical,7,Male,3,1,Laboratory Technician,...,4,80,1,6,3,3,2,2,2,2

In [28]:
# Rename the row_labels

# rename In Dept column
hr_df_cleaned.loc[hr_df_cleaned["Dept"] == "Research & Development", "Dept"] = "R&D"

#rename in Gender coloumn
hr_df_cleaned.loc[hr_df_cleaned["Gender"] == "Female", "Gender"] = "F"
hr_df_cleaned.loc[hr_df_cleaned["Gender"] == "Male", "Gender"] = "M"

In [29]:
hr_df_cleaned.head()

,Age,Attrition,Dept,Edu,EducationField,EmployeeId,Gender,JobInvolvement,JobLevel,JobRole,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Sales,2,Life Sciences,1,F,3,2,Sales Executive,...,1,80,0,8,0,1,6,4,0,5
1,49,No,R&D,1,Life Sciences,2,M,2,2,Research Scientist,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,R&D,2,Other,4,M,2,1,Laboratory Technician,...,2,80,0,7,3,3,0,0,0,0
3,33,No,R&D,4,Life Sciences,5,F,3,1,Research Scientist,...,3,80,0,8,3,3,8,7,3,0
4,27,No,R&D,1,Medical,7,M,3,1,Laboratory Technician,...,4,80,1,6,3,3,2,2,2,2